<!DOCTYPE html> 
<html> 

<head> 
	<meta name="viewport"
	ontent="width=device-width "> 

	<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" /> 

    <title>Form</title> 
    <style>
        html, 
	body { 
			height: 300px; 
		} 
			
		.mid-left { 
			top: 50%; 
			left: 42%; 
			transform: translateY(-50%); 
		} 
		
		.mid-center { 
			top: 50%; 
			left: 55%; 
			transform: translateX(-50%) translateY(-50%); 
		} 
		
		.bottom-left { 
			bottom: 30%; 
			left: 42%; 
		} 
		

		.bottom-right { 
			bottom: 30%; 
			right: 42%; 
        } 
    </style>

	
</head> 

<body style="background-color:#333;"> 
	<h1 style="color:white; text-align:center;padding-top: 10%;">CheckUp Form</h1> 
	<div class="container h-100"> 
		

			<div class="position-absolute mid-left"> 
				<button type="button" name="Button1" class="btn btn-light">Button 1</button> 
			</div> 
			<div class="position-absolute mid-center"> 
				<button type="button" name="Button2" class="btn btn-Secondary">Button 2</button> 
			</div> 
			
			<div class="position-absolute bottom-left"> 
				<button type="button" name="Button3" class="btn btn-black">Button 3</button> 
			</div> 
		
			<div class="position-absolute bottom-right"> 
				<button type="button" name="Button4" class="btn btn-light">Button 4</button> 
			</div> 
		</div> 
	</div> 

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> 
	<script src= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"> 
	</script> 
</body> 

</html>					 
